HEART DISEASE PREDICTION MODEL

Importing Dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler
import pickle

Data Collection

In [ ]:
data_path = r"C:\Users\janani\OneDrive\Documents\heart.csv"  
data = pd.read_csv(data_path)

In [ ]:
print("First 5 rows of the dataset:")
data.head()

First 5 rows of the dataset:

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [ ]:
# Display the number of rows and columns in the dataset
print("\nShape of the dataset:")
print(data.shape)

Shape of the dataset:
(1025, 14)

In [ ]:
# Getting basic information about the dataset
print("\nDataset Information:")
print(data.info())

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB
None

In [ ]:
# Checking for missing values
print("\nMissing values in the dataset:")
print(data.isnull().sum())

Missing values in the dataset:
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
# Statistical measures of the dataset
print("\nStatistical summary:")
data.describe()

Statistical summary:

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [ ]:
# Check the distribution of the target variable
print("\nDistribution of the target variable:")
print(data['target'].value_counts())

Distribution of the target variable:
target
1    526
0    499
Name: count, dtype: int64

1 -> Diseased Heart

0 -> Healthy Heart

Data Pre-processing

Splitting the Features (X) and the Target variable (Y)

In [ ]:
# Define features (X) and target (Y)
X = data.drop(columns='target', axis=1)
Y = data['target']

In [ ]:
# Standardize the feature data
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [ ]:
# Split the data into training and testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=42)

In [ ]:
# Display the shapes of the splits
print("\nShapes of the data splits:")
print(f"X: {X.shape}")
print(f"X_train: {X_train.shape}")
print(f"X_test: {X_test.shape}")

Shapes of the data splits:
X: (1025, 13)
X_train: (820, 13)
X_test: (205, 13)

Model Training

RandomForestClassifier

In [ ]:
model = RandomForestClassifier(random_state=42, n_estimators=100, max_depth=10)
model.fit(X_train, Y_train)

RandomForestClassifier(max_depth=10, random_state=42)

Accuracy Score

In [ ]:
# Calculate training accuracy
train_accuracy = model.score(X_train, Y_train)
print(f"\nTraining Accuracy: {train_accuracy * 100:.2f}%")

Training Accuracy: 100.00%

In [ ]:
# Make predictions on the test set
Y_pred = model.predict(X_test)

# Calculate test accuracy
test_accuracy = accuracy_score(Y_test, Y_pred)
print(f"Test Accuracy: {test_accuracy * 100:.2f}%")

Test Accuracy: 100.00%

In [ ]:
# Classification report
print("\nClassification Report:")
print(classification_report(Y_test, Y_pred))

# Confusion matrix
print("\nConfusion Matrix:")
print(confusion_matrix(Y_test, Y_pred))

Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       100
           1       1.00      1.00      1.00       105

    accuracy                           1.00       205
   macro avg       1.00      1.00      1.00       205
weighted avg       1.00      1.00      1.00       205


Confusion Matrix:
[[100   0]
 [  0 105]]

Build a predictive system

In [ ]:
sample_data = np.array([X_test[0]])  # Replace with real sample data if needed
sample_prediction = model.predict(sample_data)
print("\nSample Prediction:", "Heart Disease" if sample_prediction[0] == 1 else "No Heart Disease")

Sample Prediction: No Heart Disease

Save the Model

In [ ]:
model_filename = "heart_disease_model.sav"
with open(model_filename, 'wb') as model_file:
    pickle.dump(model, model_file)

print(f"Model saved to {model_filename}")

Model saved to heart_disease_model.sav

In [ ]:
scaler_filename = "scaler_heart.sav"
with open(scaler_filename, 'wb') as scaler_file:
    pickle.dump(scaler, scaler_file)

print(f"Scaler saved to {scaler_filename}")

# Print column names
print("\nColumns in the dataset:")
data.columns.tolist()

Scaler saved to scaler_heart.sav

Columns in the dataset:

['age',
 'sex',
 'cp',
 'trestbps',
 'chol',
 'fbs',
 'restecg',
 'thalach',
 'exang',
 'oldpeak',
 'slope',
 'ca',
 'thal',
 'target']